@charset "UTF-8";

.img-hover {
    opacity: 0.5;
}

.img-hover:hover {
    opacity: 1.0;
}

.box-opacity {
    display: inline-block;
    width: 150px;
    height: 200px;
    background-color: rgb(37, 161, 37);
    margin: 0px 0px 0px -4px;
    position: relative;
    text-align: center;
}

.box-opacity-rgba {
    display: inline-block;
    width: 150px;
    height: 200px;
    margin: 0px 0px 0px -4px;
    position: relative;
    text-align: center;
}

.background {
    background: url(imagens/porDoSoljpg.jpg) repeat;
    border: 2px solid black;
}

.caixa-transparente {
    margin: 30px;
    background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.6;
}

.caixa-transparente p {
    margin: 5%;
    font-weight: bold;
    color: #000;
}