@charset "UTF-8";

fieldset {
    width: 80%;
    margin: auto;
}

.gradiente {
    border: 1px solid rgba(0, 0, 0, 0.6);
    width: 90%;
    margin: auto;
    margin-top: 13px;
    margin-bottom: 20px;
}

.grad1 {
    height: 120px;
    text-align: center;
    background-color: red;
    background-image: linear-gradient(red, yellow)
}

.grad2 {
    height: 120px;
    text-align: center;
    background-color: red;
    background-image: linear-gradient(to right, red, yellow)
}

.grad3 {
    height: 120px;
    text-align: center;
    background-color: red;
    background-image: linear-gradient(to bottom right, red, yellow)
}

.grad4 {
    height: 120px;
    text-align: center;
    background-color: red;
    background-image: linear-gradient(180deg, red, yellow)
}

.grad5 {
    height: 120px;
    text-align: center;
    background-color: red;
    background-image: linear-gradient(to right,red,orange,yellow,green,blue,indigo,violet)
}

.grad5 p {
    padding: 27px 0px;
    font-size: 45px;
    color: rgb(179, 179, 179);
    font-weight: 800;
    display: inline-block;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
}   

.grad6 {
    height: 120px;
    background-image: linear-gradient(to right, rgba(255, 0, 0, 0), rgba(255, 0, 0, 1))
}

.grad7 {
    height: 120px;
    background-image: repeating-linear-gradient(red, yellow 10%, green 20%);
}

.grad8 {
    height: 150px;
    text-align: center;
    background-color: red;
    background-image: linear-gradient(to bottom right, rgb(255, 153, 0) 30%, rgb(0, 255, 221));
}

.grad8 p {
    color: #fff;
    padding: 55px 0px;
    font-weight: 800;
    font-size: 30px;
}