@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

/* GERAL */

* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 10px;
}

h1 {
    font-family: 'Source Sans Pro', sans-serif;
}

/* NAVEGAÇÃO */

#navegacao {
    background-color: rgb(84, 224, 178);
    width: 100%;
    text-align: center;
    padding: 10px 0px;
    box-shadow: 0px 5px 10px grey;
    margin-bottom: 15px;
}

#enzo {
    font-family: 'Courier New', Courier, monospace;
}

.h3-navegacao {
    display: inline-block;
    font-family: 'Courier New', Courier, monospace;
    margin: 5px 100px;
    padding: 5px;
}

.a-navegacao {
    text-decoration: none;
    color: black;
    border: solid 2px rgb(88, 33, 175);
    padding: 10px;
}

.a-navegacao:hover {
    color: white;
    background-color: rgb(88, 33, 175);
    box-shadow: 1px 2px 10px black;
}

fieldset {
    padding: 0;
    display: inline-block;
    width: 100%;
    border: none;
}

/*CONTEÚDO*/

