@charset "UTF-8";

.display {
    padding: 20px;
    background-color: rgb(158, 255, 214);
    display: inline-block;
    align-items: center;
    text-align: center;
    margin: 10px;
    border: 1.5px solid black;
}

.button-display {
    background: green;
    color: white;
    cursor: pointer;
    width: 100px;
    padding: 5px;
    margin-top: 15px;
}

.ex1 {
    text-align: center;
    margin-bottom: 5px;
}

.ex2 {
    text-align: center;
}